~*
cloud_logs
data
.history
latex/Arbeit.aux
latex/Arbeit.bbl
latex/Arbeit.bcf
latex/Arbeit.blg
latex/Arbeit.bst
latex/Arbeit.loc
latex/Arbeit.lof
latex/Arbeit.log
latex/Arbeit.lot
latex/Arbeit.out
latex/Arbeit.pdf
